altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1734244716962/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1749229904370/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1750147854206/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1749972191589/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560630059/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
clarabel @ file:///Users/runner/miniforge3/conda-bld/clarabel_1749717534575/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1744743102219/work
cvxpy @ file:///Users/runner/miniforge3/conda-bld/cvxpy-split_1724065184659/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
ecos @ file:///Users/runner/miniforge3/conda-bld/ecos_1725950142364/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1749848389636/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1735929639977/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1748294245630/work
jsonschema-specifications @ file:///tmp/tmpuvkyqc9y/src
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1725459172248/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219683650/work
matplotlib==3.10.3
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1750673052/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1749078300/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1749430542795/work/dist/numpy-2.3.0-cp311-cp311-macosx_10_13_x86_64.whl#sha256=b7ffd1bb455d35ffc52ea6664e31e1b4e9bf444d2bb8ff4e9bdbb7909bd3e218
osqp @ file:///Users/runner/miniforge3/conda-bld/osqp_1729548976013/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1749099704070/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1746646287015/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
protobuf @ file:///Users/runner/miniforge3/conda-bld/protobuf_1741124626374/work/bazel-bin/python/dist/protobuf-5.29.3-cp311-abi3-macosx_10_13_x86_64.whl#sha256=0d21b5a8c2a1779e9b64f573f6ed2844cc86f6f46eed3ea0f594deff38389255
pyarrow==20.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1738346561094/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1743089729650/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454694178/work
qdldl @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_qdldl-python_1743980602/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1749498106507/work
rpds-py @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_rpds-py_1747837763/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1739790752399/work/dist/scipy-1.15.2-cp311-cp311-macosx_10_13_x86_64.whl#sha256=16df3d41b34018032938a8ee1f67ef2ebd9c8c398e21d870e02c6389df403a4b
scs @ file:///Users/runner/miniforge3/conda-bld/scs_1736118784847/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1727986714636/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1750980282708/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1743640740204/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1748003371694/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1748959427/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1736692536661/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1730492939283/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.23.0
